body {
	margin:0;
	padding:0;
	background:#ffffff;
}

p,td { font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-top: 0px;
        vertical-align: top;
}

a{
	color: #1B7FA2;
	text-decoration: underline;
}

a:hover{
	color: #1B7FA2;
	text-decoration: none;
}

a.hidden {
	text-decoration: none;
	color: #000000;
	cursor:default;
}

form {
     margin:0;
     padding:0;
}

ul {
	margin-left:20px;
	margin-top:0px;
	padding:1px;
	list-style-type: square;
	line-height: 16px;
	}

.bord-l {
	background-image: url(../images/border-l.gif);
	background-repeat: repeat-y;
	background-position: right;
}


.bgy {
	background-repeat: repeat-y;
}

.bottom_addr {
	font-size: 10px;
	color: #FFFFFF;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 14px;
}
.bord-r {
	background-image: url(../images/border-r.gif);
	background-repeat: repeat-y;
	background-position: left;
}


.bottom_addr_lnk {
	text-decoration: none;
}

.bottom_addr_lnk:hover {
	text-decoration: underline;
}


.bgx {
	background-repeat: repeat-x;
}


.norepeat {
	background-repeat: no-repeat;
}


.welcome {
	font-size: 14px;
	font-weight: bold;
	text-transform: none;
	color: #333333;
	background-image: url(../images/welc-bg.gif);
	background-repeat: repeat-x;
	padding-left: 10px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
	padding-bottom: 12px;
}

.c_name {
	font-size: 18px;
	font-weight: normal;
	text-transform: none;
	color: #006c90;
	background-repeat: repeat;
	background-image: url(../images/cn_bg.jpg);
	padding-top: 38px;
	vertical-align: top;
}


.bottom_menu {
	color: #FFFFFF;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}

.bottom_lnk{
	color: #FFFFFF;
	TEXT-DECORATION: none;
}

.bottom_lnk:hover {
	color: #FFFFFF;
	TEXT-DECORATION: underline;
}

.menu {
	color: #FFFFFF;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
	white-space: nowrap;
	text-align: center;
	vertical-align: top;
	padding-top: 8px;
}
.menu_lnk{
	text-decoration: none;
	color: #FFFFFF;
}
.logo {
	padding-top: 10px;
	padding-left: 16px;
	padding-right: 10px;
}


.menu_lnk:hover {
	color: #333333;
	text-decoration: underline;
}


.body_txt {
	color: #000000;
	text-align: justify;
	padding: 10px;
	vertical-align: top;
}

#button {
	width: 222;
	margin: 0px;
}
	 
#button a {
	display: block;
	color: #036e90;
	text-decoration: none;
	width: 100%;
	background-image: url(../images/s-btn.gif);
	padding-top: 5px;
	padding-bottom: 6px;
	padding-left: 45px;
	text-align: left;
	vertical-align: middle;
}

html>body #button a {
      width: auto;
      }

#button a:hover {
	  background-image: url(../images/s-btn-h.gif);
      color: #ca6f16;
}

#button td {
	font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#special-version-controls {
	position: fixed;
	background: #d6d6d6;
	top: 0;
	width: 100%;
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 0 auto;
	text-align: center;
	height: 40px;
	line-height: 40px;
	z-index: 999999;
}
#special-version-controls div{
	font-family: 'PT Sans Narrow', sans-serif;
	display:inline;
	color:#000;
	margin: 0 20px 0 0;
	font-size: 18px;
}
#special-version-controls a {
	display:inline-block;
	margin:0 3px;
	text-decoration:none;
	width:28px;
	height:28px;
	line-height:28px;
	color:#000;
	text-align:center;
	font-weight: 400;
}
#special-version-controls a:hover {
	text-decoration: underline;
}
#special-version-controls #cr_version_link {
	background: url('../img/eye-icon.png');
	padding-left: 36px;
	background-repeat: no-repeat;
	background-position-y: -2px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	color: #000!important;
	width: 148px!important;
	background-color: transparent!important;
	cursor: pointer;
	font-size: 18px!important;
	line-height: 28px!important;
	margin-left: -3px;
	display: inline-flex;
}
#crfont-style a {
	width:10px;
	font-size:18px;
}