.news__block{

}
.HatMobMenu{
    background-color: #f7f3ec;
    color:#bbb;
    display: none;
}
.news-index{

}
.news_box{
    position: relative;
}
.news-view{
    text-align: center;
}
.news_box_title{
    color: #397ad0;
    font-size: 20px;
}
.news-view-body{
    text-align: left;
}

.gym_map{

    width:710px;
    padding-bottom: 30px;
}
.index-box{
    background-color: #fff2f2;
    border: 1px solid #dfe7ec;
    margin: 0 0 20px 0;
    width: 98%;
    border-left: 4px solid #fe5e5e;
    padding: 10px 10px 10px 10px;
}
.gm2-navbar{
	/*margin-right: 10%;*/
	padding: 0; /* Поля вокруг текста */
    /*border-radius: 10px; /* Уголки */
    
	margin-left: 15%;
	margin-right: 15%;
    background-image: linear-gradient(to bottom, #fcbb7b, #c5670c); 
    color: white;
    height: 0px;
 }   
.truncate {
   max-width: 300px !important;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.truncate:hover{
   overflow: visible;
   white-space: normal;
   width: auto;
}
.gm2container{
    display: flex;
    flex-flow: column;
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    padding-bottom:2%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}
.footer{
     display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    background-color: #eef1f3;
    height:30%;
}
.footerdatabox{
    position: relative;
    left:20px;
    display: flex;
    flex-flow: column;
}
.HatBox{
    
    display: flex;
    flex-flow: column;
    position: relative;
    bottom: -15px;
}
.HatBoxItem{
    display: flex;
    flex-flow:row;
    justify-content: space-around;
}
.HatBoxItemData{
    display: flex;
    flex-flow: row;
    padding-bottom:15px;
    justify-content: space-between;
}
.HatLogo{
}
.HatBaner{
	width:100%;
	height:100%;
	left: 2%;
	position: relative;
}
.HatLogImage{
	margin-left: 20%;	
	width:134px;
	height:134px;
}
.HatData{
    width:79%;
    font-family: Arial,Helvetica,sans-serif;
    color: #484c51;
    font-size: 13px;
    font-weight: 500;
}
.HatDataItem{
	line-height: 0.5;
}
.HatSlider{
    height: 190px;
}
.carousel-indicators{
    bottom: -13px;

}
.ContentBox{
    display: flex;
    flex-flow:row;
}
.ContentItemMenu{
    width:100%;
    
}
.ContentItemBaner{
    width:100%;
}
.ContentItemBox{
    width:20%;
    display: flex;
    flex-flow: column;
}
.ContentItem{
    margin: 0 auto;
    width: 78%;
    padding: 0px 0px 10px 10px;
}
.pages-view{
    padding-left: 5%;
    margin: 0 auto;
}





.collapse
{   
        display:none;
}
.collapse.in
{   
        display:block;
}
.r.collapse.in
{   
        display:table-row;
}
.body.collapse.in
{   
        display:table-row-group;
}
.collapsing
{   
        height:0;   
        -webkit-transition-timing-function:ease;    
        -o-transition-timing-function:ease; 
        transition-timing-function:ease;    
        -webkit-transition-duration:.35s;   
        -o-transition-duration:.35s;    
        transition-duration:.35s;   
        -webkit-transition-property:height,visibility;  
        -o-transition-property:height,visibility;   
        transition-property:height,visibility;
}
.nav-justified>.dropdown .dropdown-menu,.nav-tabs.nav-justified>.dropdown .dropdown-menu
{   
        top:auto;   
        left:auto;
}
        
.navbar-right .dropdown-menu
{   
        right:0;    
        left:auto;
}
.navbar-right .dropdown-menu-left
{   
        right:auto; 
        left:0;
}

.nav>li,.nav>li>a
{   
        display:block;  
        position:relative;
}

.nav
{   
        padding-left:0; 
        margin-bottom:0;    
        list-style:none;
}
.nav>li>a
{   
        padding:10px 15px;
}
.nav>li>a:focus,.nav>li>a:hover
{   
        text-decoration:none;   
        background-color:#eee;
}
.nav>li.disabled>a
{   
        color:#777;
}
.nav>li.disabled>a:focus,.nav>li.disabled>a:hover
{   
        color:#777; 
        text-decoration:none;   
        cursor:not-allowed; 
        background-color:transparent;
}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover
{   
        background-color:#eee;  
        border-color:#337ab7;
}
.nav .nav-divider
{   
        height:1px; 
        margin:9px 0;   
        background-color:#e5e5e5;
}
.nav>li>a>img
{   
        max-width:none;
}
.nav-tabs
{   
        border-bottom:1px solid #ddd;
}
.nav-tabs>li
{   
        float:left; 
        margin-bottom:-1px;
}
.nav-tabs>li>a
{   
        margin-right:2px;   
        line-height:1.42857143; 
        border:1px solid transparent;   
        border-radius:4px 4px 0 0;
}
.nav-tabs>li>a:hover
{   
        border-color:#eee #eee #ddd;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover
{   
        color:#555; 
        cursor:default; 
        background-color:#fff;  
        border:1px solid #ddd;  
        border-bottom-color:transparent;
}
.nav-tabs.nav-justified
{   
        width:100%; 
        border-bottom:0;
}
.nav-tabs.nav-justified>li
{   
        float:none;
}
.nav-tabs.nav-justified>li>a
{   
        margin-bottom:5px;  
        text-align:center;  
        margin-right:0; 
        border-radius:4px;
}
.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover
{   
        border:1px solid #ddd;
}


nav,
section {
    display: block;
}
html {
    height: 100%;
}
body {
    height: auto !important;
    min-height: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #484c51;
    background-color: #dedede;
}

a {
    color: #397ad0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #ff5e5e;
}

.col-md-9 .nav > li > a {
    padding: 10px 15px;
}
.nav > li > a {
    padding: 0;
}
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.nav .open > a:focus,
a:focus {
    background-color: transparent;
    border-color: transparent;
}


.menu-mainmenu .sub_menu,
.menu-mainmenu ul li,
.menu-mainmenu ul li ul li {
    min-height: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
}
#left_menu li.panel .panel-body {
    padding: 0;
}
#left_menu li.dropdown-submenu.active > a {
    font-weight: 700;
    color: #5593e5;
}
.menu-mainmenu > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
}
.menu-mainmenu {
    float: left;
    width: 100%;
    list-style-type: none;
}
.menu-mainmenu li {
    float: left;
    width: 100%;
    line-height: 18px;
}
.menu-mainmenu li a.accordion-toggle {
    color: #fff;
    background-color: #5593e5;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -khtml-border-radius: 0 4px 4px 0;
}
.menuitem{
    border-radius: 0 4px 4px 0!important;
    -webkit-border-radius: 0 4px 4px 0!important;
    -moz-border-radius: 0 4px 4px 0!important;
    -khtml-border-radius: 0 4px 4px 0!important;
}
.menu-mainmenu li a.accordion-toggle.collapsed {
    background-color: #fff;
    color: #484c51;
}
.menu-mainmenu li a {
    color: #484c51;
    font-weight: 700;
    border-bottom: 1px solid #dfe7ec;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    padding-left: 35px;
    padding-right: 5px;
}
.menu-mainmenu li a.active,
.menu-mainmenu li a:hover {
    background-color: #5593e5;
    color: #fff;
}
.menu-collapsed:hover{
    background-color: #5593e5!important;
    color: #fff!important;
}
.menu-mainmenu li a span {
    font-size: 9px;
}
.menu-mainmenu ul li a.active,
.menu-mainmenu ul li a:hover {
    background-color: transparent;
    color: #5593e5;
    text-decoration: none;
}
.menu-mainmenu ul {
    list-style-type: none;
    margin-left: 35px;
}
.menu-mainmenu ul li a {
    font-weight: 400;
    font-size: 13px;
    text-transform: none;
    border-bottom: 0 solid transparent;
    line-height: normal;
    margin-left: 0;
    padding-left: 0;
}
.menu-mainmenu ul li ul,
.menu-mainmenu ul li ul li a {
    margin-left: 10px;
}
.menu-mainmenu ul li a.active {
    font-weight: 700;
}
.menu-mainmenu ul ul a.active {
    color: #397ad0;
}
.footer_date{

    position: relative;
    top: 307px;

}
.footer__box{
	display:flex;
	flex-flow:column;
	
}
.footer__box2{
	display:flex;
	flex-flow:column;
	position: relative;
	left: 19%;
}
.footer_body{
	display:flex;
	flex-flow:row;
	position: relative;
	left: -18%;
}
.box_item{
	display:flex;
	flex-flow:column;
}
.footer__text{
	max-width:316px;
}
.footer__title{
	max-width:300px;
	font-weight: bold;
	
}

.distant_box_item{
	display:flex;
	flex-flow:row;
}
.distant_url_box{
	display:flex;
	flex-flow:column;
	margin: 1.4%;	
}
.distant_box_item{
	width:97%;
}
.distant_url{
	padding: 1%;
}


   @media screen and (max-device-width: 1450px) {
        .gm2container{
                width:80%;
        }
	.footer{
                width:80%;
	}
   }


   @media screen and (max-device-width: 1050px) {
        .gm2container{
                width:94%;
        }
	.footer{
                width:94%;
	}
}
.asistent-container{
    font-family: Arial,sans-serif;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style: none;

    font-size: 1.5rem;
    font-weight: bolder;
    margin-right: 8px;
    padding: 4px 6px;
}
.size-select{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;

}
.size-normal:hover{
    background-color: rgba(4,120,87,var(--tw-bg-opacity));
}
.size-normal,.size-medium,.size-large,.color-normal,.color-invert,.color-chromatic,.image-switcher,.spacing-normal,.spacing-medium,.spacing-large,.font-arial,.font-times:hover{
    background-color: rgba(4,120,87,var(--tw-bg-opacity));
}
.size-normal,.size-medium,.size-large,.color-normal,.color-invert,.color-chromatic,.image-switcher,.spacing-normal,.spacing-medium,.spacing-large,.font-arial,.font-times,.image-switcher-on,.image-switcher-off{
    cursor: pointer; 
    padding: 2px;
}

.image-switcher-box{
    display: flex;
    flex-flow: column;
}
.image-switcher-options{
    display: flex;
    flex-flow: row;
}
.color-select{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: -10px;
    cursor: pointer; 
}
.spacing-select{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}
.font-select{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}
.size-normal{
    font-size: 19px;
}
.size-medium{
    font-size: 24px;
}
.size-large{
    font-size: 29px;
}
.color-normal{
    border: 1px solid #000;
    background: #fff;
    font-size: 22px;
}
.color-invert{
    background: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 22px;
}
.color-chromatic{
    font-size: 22px;
}

@media (min-width: 359px) and (max-device-width: 390px) {
    .ContentItemMenu{
            display: none;
    }
    .ContentItemBox{
        display: none;
    }
    .ContentItem{
        width: unset;
    }
    .HatSlider{
        height: unset;
        margin-bottom: 7%;
    }
    .HatLogImage{
        margin-left:1%;
    }
    .HatDataItem{
        line-height:unset;
        font-size: 18px;
        margin: 8px;
    }
    .gym_map{
        width: 270px;
    }
    .footer_body{
        flex-flow: column;
        left:unset;
    }
    .footer__box2{
        left:unset;
    }
    .news_item_container{
        width: 98%;
    }
    .HatMobMenu{
        display: block;
        background-color: #eaeaeabd;
        color: #8a242e85;;
        width: unset;
        position: fixed;
        right: 5%;
        
    }
    .menu-mainmenu{
        width: unset;
    }
    .HatBaner{
        width: 271%;
        left: unset;
    }
    .menu-mainmenu li a{
        background-color: #f4f1ea;
    }
    .menu-mainmenu li a.accordion-toggle.collapsed{
        background-color: #f4f1ea;
    }
    .menu-mainmenu .sub_menu, .menu-mainmenu ul li, .menu-mainmenu ul li ul li{
        background-color: #f4f1ea;
    }
    .menu-mainmenu li{
        background-color: #f4f1ea;
        float:unset;
    }
    .ContentItemBaner{
        position: absolute;
        z-index: 1000;
        width: 30%;
        margin: 2px;
        margin-top: -235px;
    }
    .ContentItemMenu{
        position: absolute;
        width: 81%;
        z-index: 1000;
        margin: 2px;
        margin-top: -135px;
    }
    .menu-mainmenu ul{
        margin-left: 9px;
        z-index: 1000;
    }
    .menu-mainmenu{
        border: 1px solid;
        z-index: 1000;
    }
    .collapse.in{
        padding: 5px;
    }
    .pages-view{
        padding-right: 5%;
    }
    .news_title{
        margin-right: 5%;
    }
    .HatSlowView{
        display: none;
    }
}
@media (min-width: 391px) and (max-device-width: 750px) {
    .ContentItemMenu{
            display: none;
    }
    .ContentItemBox{
        display: none;
    }
    .ContentItem{
        width: unset;
    }
    .HatSlider{
        height: unset;
        margin-bottom: 7%;
    }
    .HatLogImage{
        margin-left:1%;
    }
    .HatDataItem{
        line-height:unset;
        font-size: 18px;
        margin: 8px;
    }
    .gym_map{
        width: 270px;
    }
    .footer_body{
        flex-flow: column;
        left:unset;
    }
    .footer__box2{
        left:unset;
    }
    .news_item_container{
        width: 98%;
    }
    .HatMobMenu{
        display: block;
        background-color: #eaeaeabd;
        color: #8a242e85;;
        width: unset;
        position: fixed;
        right: 5%;
        margin-right: -6px;
        margin-top: -18px;
        
    }
    .menu-mainmenu{
        width: unset;
    }
    .HatBaner{
        width: 245%;
        left: unset;
    }
    .menu-mainmenu li a{
        background-color: #f4f1ea;
    }
    .menu-mainmenu li a.accordion-toggle.collapsed{
        background-color: #f4f1ea;
    }
    .menu-mainmenu .sub_menu, .menu-mainmenu ul li, .menu-mainmenu ul li ul li{
        background-color: #f4f1ea;
    }
    .menu-mainmenu li{
        background-color: #f4f1ea;
        float:unset;
    }
    .ContentItemBaner{
        position: absolute;
        z-index: 1000;
        width: 30%;
        margin: 2px;
        margin-top: -235px;
    }
    .ContentItemMenu{
        position: absolute;
        width: 73%;
        z-index: 1000;
        margin: 2px;
        margin-top: -135px;
    }
    .menu-mainmenu ul{
        margin-left: 9px;
        z-index: 1000;
    }
    .menu-mainmenu{
        border: 1px solid;
        z-index: 1000;
    }
    .HatBox{
        padding: 8px;
    }
    .collapse.in{
        padding: 5px;
    }
    .pages-view{
        padding-right: 5%;
    }
    .news_title{
        margin-right: 5%;
    }
    .HatSlowView{
        display: none;
    }
}

