.message_rq{

	padding: 1px; /* Поля вокруг текста */
    border-radius: 10px; /* Уголки */
    font-family: sans-serif; /* Рубленый шрифт */
    font-size: 90%; /* Размер шрифта */
	background: #5cb85c;
    border-bottom: 20px solid white; /* Параметры линии внизу */
}
.message_an{

	padding: 1px; /* Поля вокруг текста */
    border-radius: 10px; /* Уголки */
    font-family: sans-serif; /* Рубленый шрифт */
    font-size: 90%; /* Размер шрифта */
	background: #df349c;
    border-bottom: 20px solid white; /* Параметры линии внизу */
}
.msg_srv{

	padding: 1px; /* Поля вокруг текста */
    border-radius: 10px; /* Уголки */
    font-family: sans-serif; /* Рубленый шрифт */
    font-size: 90%; /* Размер шрифта */
	background: #ff3a18;
    border-bottom: 20px solid white; /* Параметры линии внизу */
}
.msg_footr{
	/* margin-left: 10%;*/
	font-weight: bold; /* Жирное начертание */
	border-radius: 10px;
	width: 100%;
	color: black; /* Цвет текста */
	
	
}
.msg_name{
	margin-left: 3%;
	display: inline;
	text-align: left;
}
.msg_body{
	background: #ccc; /* Цвет фона */
	padding: 5px; /* Добавляем поля */
    margin: 0; /* Убираем отступы у параграфа */
    border-top: 0px dotted white; /* Параметры линии вверху */
    border-radius: 10px 20px 0px 0;
}
.msg_mail{
	margin-left: 3%;
	display: inline;
	text-align: right;
}
.msg_date{
	margin-left: 3%;
	display: inline;
	
	text-align: center;
	
}