html,
body {
    height: 100%;
    background-color: #dedede;
    font-family: Arial,Helvetica,sans-serif;
    color: #484c51;
}
.hide, .hide + p, .hide + li{
    display: none;
}
input.hide:checked + p {
    display: block;
}
input.hide:checked + li{
    display: list-item;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;

}

.nav > li > form > button.logout:focus {
    outline: none;
}



.news_pager_box{
    display: flex;
    flex-flow: column;
    width: 90%;
    position: relative;
    left:10%;

}
.news_pager_headers_list{
    display: flex;
    flex-flow: row;


}
.news_pager_headers_item:hover{
    background-color:rgb(255 242 242);
}
.news_pager_headers_item{
    float: left;
    margin-bottom: -1px;
    display: table-cell;
    padding: 13px 15px;

    color: #555;
    cursor: default;
    background-color: #fff;

    border-left: #cbd3d9 solid 1px;
    border-top: #cbd3d9 solid 1px;
    border-right: #cbd3d9 solid 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
}

.news_item_container{
    width: 98%;
    border: #cbd3d9 solid 1px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-top: -1px;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.news_item_covid{
    display: none;
    padding: 5%;
}
.news_item{
    display: flex;
    flex-flow: row;
    float: left;
    width: 100%;
    margin-bottom: 5px;



}
.news_create{
    font-size: 12px;
    color: #7b7b7b;
    float: left;
    display: block;
    margin-top: 5px;
    margin-left: 20px;
}
.news_title{
    display: table-cell;
    box-sizing: border-box;
    visibility: visible;
    margin-top: 5px;
    margin-left: 20px;
}
.news-view{
    width: 98%;
}
#vk_groups{
    position: relative;
    bottom: -8.5%;
    padding: 20px;
}
